/src/library-reactjs/Front/main.js
/src/library-reactjs/Front/*.map
/src/library-reactjs/Front/components/*.js
/src/library-reactjs/Front/Scripts/*.js
/src/library-reactjs/wwwroot/main.js
/src/library-reactjs/wwwroot/polyfills.js
/src/library-reactjs/node_modules
/src/library-reactjs/wwwroot/Scripts/main.js
/src/library-reactjs/wwwroot/Scripts/polyfills.js
/src/library-reactjs/bin
/src/library-reactjs/obj
/src/library-reactjs/Front/Views/app.js
*.map
/src/library-reactjs/Front/Views/bookList.js
