/src/library-reactjs/Front/main.js
/src/library-reactjs/Front/main.js.map
/src/library-reactjs/Front/components/*.map
/src/library-reactjs/Front/components/*.js
/src/library-reactjs/Front/Scripts/*.js
/src/library-reactjs/Front/Scripts/*.map
/src/library-reactjs/wwwroot/main.js
/src/library-reactjs/wwwroot/polyfills.js
